*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

a{
    text-decoration: none;
    color: white;
}

.btn-login{
    padding: 8px 10px;
    border-radius: 25px;
    color: black;
    border: none;
    background-color: white;
    font-weight: 700;
}

.btn{
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.btn-white{
    color: black;
    background-color: white;
    margin-right: 25px;
}

.btn-dark{
    color: white;
    background-color: #23272a;
}

.btn-violet{
    background-color: #8ea1e1;
}

.btn-login:hover, .btn:hover{
    box-shadow: 0 10px 8px #0000002c;
}

.btn-white:hover{
    color: rgb(98, 98, 226);
}

ul{
    list-style: none;
}

header li{
    display: inline-block;
    color: white;
    padding: 0 15px;
}

li:last-child{
    margin-right: 0;
}

.container {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar .logo, .navbar .login, .navbar .menu{
    font-size: 16px;
    font-weight: 500;
    height: 34px;
    line-height: 34px;
}

.navbar .logo, .navbar .login{
    width: 25%;
}

.navbar{
    padding-top: 20px;
}

.navbar .menu{
    width: 50%;
    text-align: center;
}

.navbar .login{
    text-align: right;
}

.navbar a:hover, footer a:hover{
    text-decoration: underline;
}

.centered-container {
    width: 900px;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.jumbotron{
    text-align: center;
    color: white;
}

.jumbotron-text h1, section h2{
    font-size: 50px;
}

p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin: 30px 0;
    font-weight: 500;
}

[class^="box-"]{
    padding: 0 30px;
}

.box-img, .box-text{
    margin-top: 60px;
}

.box-img{
    width: 65%;
}

.box-text{
    width: 35%;
    padding-top: 38px;
}

.img-right{
    text-align: right;
}

.box-text-big, .box-img-big {
    width: 100%;
    text-align: center;
}

.box-text-big{
    padding-top: 38px;
}    

.adventure-section{
    text-align: center;
    height: 250px;
}

.adventure-section h3{
    margin-top: 35px;
    padding-top: 35px;
    font-size: 35px;
    height: 100px;
    background-image: url(../img/stars.svg);
    background-position: top center;
    background-repeat: no-repeat;
}

footer{
    background-color: #23272a;
    color: white;
}

.col-big, .col-small{
    border-bottom: 1px solid #8ea1e1;
    height: 400px;
    padding: 15px;
}

footer .col-big{
    width: 32%;
}

footer .col-small{
    width: 17%;
}

footer h4, footer h5{
    color: #8ea1e1;
}

.col-big h4{
    font-size: 35px;
    padding-bottom: 35px;
}

#italian-flag{
    width: 25px;
}

footer h5, footer li{
    font-size: 15px;
    line-height: 28px;
}

